#mod_acc {
    background: #000000;
    color: white;
    margin-bottom: 60px;
    overflow: auto;
}

#mod_acc tbody tr:nth-child(odd) {
    background: #222222;
}

#mod_acc tbody td, #mod_acc tbody th {
    padding: 5px;
    border: none;
}

#mod_acc table {
    width: auto;
}